img {
    width: 100%;
}

#pad-left {
  padding-left: 2%;
}

#pad-right {
  padding-right: 2%;
}

.navbar li {
    margin-left: 12px;
    font-family: Courier;
    font-style: italic;
    font-size: 26px;
}