img {
    width: 100%;
}

li {
    list-style-type: none;
}

.centered-error-msg {
    font-size: 25px;
    padding-top: 100px;
    margin: 0 auto;
}

#pad-left {
    padding-left: 20px;
}

.intro-header {
    background: no-repeat center center;
    background-size: cover;
    margin-bottom: 100px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-8, .col-md-10 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.site-heading {
    padding: 150px 0;
    color: #fff;
    text-align: center;
}

h1 {
    font-style: oblique;
    font-size: 80px!important;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.subheading {
    font-size: 35px;
    line-height: 1.1;
    display: block;
    font-family: 'Amatic SC', cursive;
    font-weight: 300;
    margin-left: 60px;
}

.app_title {
    font-size: 50px;
    line-height: 1.1;
    display: block;
    font-family: 'Amatic SC', cursive;
    font-weight: 300;
    margin-left: 60px;
}

.element-list  {
    font-family: 'Life Savers', cursive;
    font-weight: 800;
    color: black;
    text-align: center;
    margin-bottom: 60px;
}

.recipe_image {
    max-height: 315px;
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border: 4px #fff;
}

.video_buttons {
    margin-top: 10px;
}

.fa-thumbs-up {
    color: green;
}

.fa-thumbs-down {
    color: red;
}

.more {
    margin: 5% auto;
}

footer {
    margin-top: -10px!important;
    text-align: center;
    margin-bottom: 40px;
}

.fa-circle {
    color: darkslategrey;
}

.description {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    font-style: italic;
    font-family: 'Amatic SC', cursive;
    font-weight: 200;
}

.article {
    font-family: 'Amatic SC', cursive;
}

img.center {
    max-height:315px;
    width:auto;
}

#disqus_thread {
    width: 80%;
    margin: 0 auto;
}
.navbar-right {
    float: right;
    padding-right: 20px;
}

.navbar li {
    margin-top: 10px;
    margin-left: 12px;
    font-family: 'Loved by the King', cursive;
    font-style: italic;
    font-size: 35px;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: transparent;
    border-bottom-color: transparent;
    box-shadow: none;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    transition: background-color .3s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.navbar-custom.is-fixed {
    position: fixed;
    top: -61px;
    color: black!important;
    background-color: rgba(255, 255, 255, .90);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s
}

.navbar-custom.is-fixed a {
    color: black!important;
}

.navbar-custom.is-visible {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

#text-search {
    position: relative;
    top: 1.7px;
}

