{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cooknomics</title>
    <link rel="icon" href="{% static 'videos/Logo2.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'videos/style.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="pad-left">
                <li><a href="#">Cooknomics</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" id="pad-right">
                <li><a href="http://127.0.0.1:8000/videos/">Videos</a></li>
                <li><a href="http://127.0.0.1:8000">News</a></li>
            </ul>
        </div>
    </nav>
    <img src="{% static 'videos/Logo.jpg' %}"/>
    <img src="{% static 'videos/Logo.jpg' %}"/>
</body>
</html>