{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Cooknomics - Videos
{% endblock title %}

{% block scripts %}
    <!-- Script that gets new pages -->
    <script type="application/javascript">
        var pageNumber = {{ page.number }};
        var hasNextPage = {{ page.has_next|lower }};
        var url = '{% url 'videos:page' %}';
        var dataDict = null;
    </script>
    <script type="application/javascript" src="{% static 'js/scripts.js' %}"></script>
    <script type="application/javascript" src="{% static 'videos/js/scripts.js' %}" ></script>
    <script>
        function post_vote() {
            var action = $(this).data('on-click-action');
            var slug = $(this).attr('name');

            var postData = {
                slug: slug,
                type: action
            };

            $.ajax({
                type: 'POST',
                headers     : {'X-CSRFToken': '{{ csrf_token }}'},
                url: '{%  url 'videos:vote' %}',
                data: postData,
                dataType: 'json',
                encode: 'true'
            })
            .done(function(data) {
                $('#upvote_count_' + slug).html(data.upvotes);
                $('#downvote_count_' + slug).html(data.downvotes);
            })
            .error(function(jqXHR) {
                console.log(jqXHR.status);
            })
        }
        <!-- Event listeners for upvote and downvote buttons -->
        $( document ).ready(function() {
            $(".upvote-button, .downvote-button").on("click", post_vote)
        });
    </script>
{% endblock %}

{%  block app_title %}
<span class="app_title">VIDEOS</span>
{% endblock app_title %}

{% block content %}
    <main>
        <ul class="element-list">
            {% for video in page %}
                <li>
                    <a href="{% url 'videos:single_video' video.slug %}">
                    <h2 class="title"> {{ video.title }}</h2>
                    </a>
                    <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/{{ video.video_url }}"
                        frameborder="0" allowfullscreen>
                    </iframe>
                    <div class="video_buttons row">
                        <button class="upvote-button" name="{{ video.slug }}" id="upbtn_{{ video.slug }}"
                                data-on-click-action = "upvote"
                        >
                            <i class="fa fa-thumbs-up fa-lg"></i>
                            <section id="upvote_count_{{ video.slug }}">{{ video.up_votes }}</section>
                        </button>

                        <button class="downvote-button" name="{{ video.slug }}" id="dwnbtn_{{ video.slug }}"
                                data-on-click-action = "downvote"
                        >
                            <i class="fa fa-thumbs-down fa-lg"></i>
                            <section id="downvote_count_{{ video.slug }}">{{  video.down_votes }}</section>
                        </button>
                </div>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock content %}