{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    {{ video.title }}
{% endblock title %}

{# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!#}
{# SKRYPTY DO WYSZUKIWANIA DLA MAJKELA #}
{% block scripts %}
    <script type="application/javascript">
        $(document).ready(function() {
            var $productList = $('#product-selecter');

            $.ajax({
                type:  'GET',
                url: '{% url 'videos:get_items' %}'
            })
            .done(function(data) {
                $.each(data, function(index, parameter) {
                    $.each(parameter, function(name, value) {
                        $productList.append('<option value="' + value + '">' + name + '</option>');
                    });
                })
            })
            .error(function(jqXHR) {
                console.log("AJAX error: " + jqXHR.status);
            });

            $("#search-button").click(function() {
                var selectedItems = $productList.val();
                var $errorMessage = $('#error-message');

                if (selectedItems == null) {
                    $errorMessage.text("Nie wybrano żadnego produktu.");
                    $errorMessage.show();
                    return;
                }

                $.ajax({
                    type: 'GET',
                    url: '{% url 'videos:process_items' %}',
                    data: JSON.stringify(selectedItems),
                    dataType: 'json',
                    encode: true
                })
                .done(function(data) {
                    $errorMessage.hide();
                    console.log("Successful request.");
                })
                .error(function(jqXHR) {
                    $errorMessage.text("Bład serwera: " + jqXHR.status);
                    $errorMessage.show();
                    console.log("AJAX error: " + jqXHR.status)
                })
            })

        });
    </script>
{% endblock scripts %}

{% block content %}
    <main>
        <div>
            <h2 class="title"> {{ video.title }}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.video_url }}" frameborder="0" allowfullscreen></iframe>
            <div>
                <h2>Content:</h2>
                <span>{{ video.description|safe }}</span>
            </div>
    {#        <div class="video_buttons row">#}
    {#            <button>#}
    {#                <i class="fa fa-thumbs-up fa-lg"></i> {{ video.up_votes }}#}
    {#            </button>#}
    {#            <button>#}
    {#                <i class="fa fa-thumbs-down fa-lg"></i> {{  video.down_votes }}#}
    {#            </button>#}
    {#           <p class="description">{{ video.description }}</p>#}
    {#        </div>#}
        </div>
        <div>
            <a href="{% url 'videos:videos_list' %}">
                <button class="more btn-md btn-primary">Back</button>
            </a>
        </div>
    </main>

{# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!#}
{# ELEMENTY DO WYSZUKIWANIA DLA MAJKELA #}
    <div id="search-container">
        <span id="error-message" style="display: none; color: red;"></span>
        </br>
        <select id="product-selecter" class="selectpicker"
                multiple data-live-search="true"
                data-selected-text-format="count > 3"
                title="Wybierz składnik"
        >
        </select>
        <button id="search-button" class="btn btn-default"
                style="padding-top: 6px; padding-bottom: 6px"
                type="button"
        >
        Wyszukaj
        </button>
    </div>
{% endblock content %}