{% extends 'base_detail.html' %}
{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block element_display %}
        <div>
            <h2 class="title"> {{ title }}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_url }}" frameborder="0" allowfullscreen></iframe>
            <div>
                <h2>Content:</h2>
                <span>{{ description|safe }}</span>
            </div>
        </div>
{% endblock element_display %}