{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Cooknomics - Video
{% endblock title %}

{% block scripts %}
    <!-- Script that gets new pages -->
    <script type="application/javascript">
        var pageNumber = {{ page.number }};
        var hasNextPage = {{ page.has_next|lower }};
        var url = '{% url 'videos:page' %}';
    </script>
    <script type="application/javascript" src="{% static 'js/scripts.js' %}"></script>
    <script type="application/javascript" src="{% static 'videos/js/scripts.js' %}" ></script>
{% endblock %}

{% block content %}
    <main>
        <ul class="video">
            {% for video in page %}
                <a href="{% url 'videos:single_video' video.slug %}">
                    <h2 class="title"> {{ video.title }}</h2>
                </a>
                <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/{{ video.video_url }}"
                        frameborder="0" allowfullscreen>
                </iframe>
            {% endfor %}
            <div id="videolist-anchor"></div>
        </ul>
    </main>
{% endblock content %}