{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block scripts %}
    <script type="application/javascript" src="{% static 'js/vote.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/utils.js' %}"></script>
    <script type="application/javascript">
        {% with ""|addstr:appname|addstr:":vote" as vote_url %}
        {# Event listeners for upvote and downvote buttons #}
        $(document).ready(function() {
            $(".upvote-button, .downvote-button").on("click", {voteUrl: '{% url vote_url %}'}, postVote);
        });
    {% endwith %}
    </script>
    {% block additional_scripts %}
    {% endblock additional_scripts %}
{% endblock scripts %}

{% block extra_head %}
{% endblock extra_head %}

{%  block app_title %}
    <span class="app_title">{{ appname|upper }}</span>
{% endblock app_title %}

{% block content %}
    {% block additional_content %}
    {% endblock additional_content %}
    <main>
        {% block element_display %}
        {% endblock element_display %}
        <div class="like-buttons">
            <i data-name="{{ slug }}"
               class="fa fa-thumbs-up fa-lg upvote-button {% if element.voting_status == 'upvoted' %}
                                                          clicked
                                                          {% endif %}" id="upbtn_{{ slug }}"
                                                          data-on-click-action="upvote"></i>
            <section id="upvote_count_{{ slug }}" class="votes-count">{{ up_votes }}</section>
            <i data-name="{{ slug }}"
               class="fa fa-thumbs-down fa-lg downvote-button {% if element.voting_status == 'downvoted' %}
                                                              clicked
                                                              {% endif %}" id="dwnbtn_{{ slug }}"
                                                              data-on-click-action="downvote"></i>
            <section id="downvote_count_{{ slug }}" class="votes-count">{{ down_votes }}</section>
        </div>
        {% block additional_element_display %}
        {% endblock additional_element_display %}
        {% with ''|addstr:appname|addstr:':'|addstr:appname|addstr:'_list' as back_url %}
        <a href="{% url back_url %}" class="button">
        {% endwith %}
            Back
        </a>
    </main>

    <div id="disqus_thread">
        <script>
            (function() {
            var d = document, s = d.createElement('script');

            s.src = '//cooknomics.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>

        <noscript>Please enable JavaScript to view the
            <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
        </noscript>
    </div>


{% endblock content %}