{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Cooknomics - {{ appname|title }}
{% endblock title %}

{% block scripts %}
    <!-- Script that gets new pages -->
    <script type="application/javascript">
        var pageNumber = {{ page.number }};
        var hasNextPage = {{ page.has_next|lower }};
        var dataDict = null;
        var currentSorting = 'published_date';
        {%  with ""|addstr:appname|addstr:":page" as pagination_url %}
        var url = '{% url pagination_url %}';
        {% endwith %}
    </script>
    <script type="application/javascript" src="{% static 'js/scripts.js' %}"></script>
    {% with ""|addstr:appname|addstr:"/js/scripts.js" as scripts_path %}
    <script type="application/javascript" src="{% static scripts_path %}" ></script>
    {% endwith %}
    <script type="application/javascript">
        {% with ""|addstr:appname|addstr:":vote" as vote_url %}
        {# Event listeners for upvote and downvote buttons #}
        $(document).ready(function() {
            $(".element-list").on("click", ".upvote-button, .downvote-button", {voteUrl: '{% url vote_url %}'}, postVote);
        });
        {% endwith %}
        $(document).ready(function() {
            $(".sorting-select").on("change", function() {
                var requestData = $(this).val();

                if (requestData != currentSorting) {
                    currentSorting = requestData;
                    $('.element-list').empty();

                    pageNumber = 0;
                    hasNextPage = true;
                    loadPage();
                }
            })
        })

    </script>

    {% block additional_scripts %}
    {% endblock additional_scripts %}
{% endblock scripts %}


{% block extra_head %}
{% endblock extra_head %}

{%  block app_title %}
<span class="app_title">{{ appname|upper }}</span>
{% endblock app_title %}

{% block content %}
    <div class="sorting">
        <select class="selectpicker sorting-select" title="Sortuj po:">
            <option value="up_votes">Ilość polubień</option>
            <option value="published_date">Data publikacji</option>
            <option value="title">Nazwa</option>
        </select>
    </div>
    {% block additional_content %}
    {% endblock additional_content %}

    <main>
        <ul class="element-list">
            {% for element in page %}
                <li>
                    {% block element_display %}
                    {% endblock element_display %}

                    {% if display_likes %}
                    <div class="video_buttons row">
                        <button class="upvote-button" name="{{ element.slug }}" id="upbtn_{{ element.slug }}"
                                data-on-click-action="upvote"
                        >
                            <i class="fa fa-thumbs-up fa-lg"></i>
                            <section id="upvote_count_{{ element.slug }}">{{ element.up_votes }}</section>
                        </button>

                        <button class="downvote-button" name="{{ element.slug }}" id="dwnbtn_{{ element.slug }}"
                                data-on-click-action="downvote"
                        >
                            <i class="fa fa-thumbs-down fa-lg"></i>
                            <section id="downvote_count_{{ element.slug }}">{{  element.down_votes }}</section>
                        </button>
                    </div>
                    {% block additional_element_display %}
                    {% endblock additional_element_display %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </main>


{% endblock content %}