{% extends 'base_detail.html' %}
{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block element_display %}
    <div>
        <h2 class="article_title"> {{ title }}, {{ price }} pln</h2>
        <h3 class="article_author"> {{ author }}</h3>
        <ul class="ingredients">
            {% for ingredient in ingredients %}
                <li class="ingredient">- {{ ingredient }}</li>
            {% endfor %}
        </ul>
        <br>
        <span class="article_content"> {{ content|safe }}</span>
        <img class="dish_image" src='{{ image_url }}' style="max-height:315px;width:auto;">
    </div>
{% endblock element_display %}
