{% extends 'base_index.html' %}

{% block additional_scripts %}
    <script type="application/javascript">
        {# Add event listener to search button click #}
        $(document).ready(function() {
            $('#search-button').on('click', {
                nonFilteredRecipesUrl: '{% url 'recipes:page' %}',
                filteredRecipesUrl: '{% url 'recipes:get_filtered_recipes' %}'
            }, loadNewPage);
        });

        {# Fill product select list #}
        $(document).ready(function() {
            fillIngredientSelectBox('{% url 'recipes:get_ingredients' %}');
        });

        {# Add actions to jQuery-UI-autocomplete plugin. #}
        $(document).ready(function() {
            $("#text-search").autocomplete({
                source: function(request, response) {

                   $.ajax({
                       type: "GET",
                       url: '{% url 'recipes:search_recipes' %}',
                       data: request,
                       dataType: 'json',
                       encode: true,
                    })
                   .done(function(data) {
                       console.log(data);
                       var hintsData = $.map(data, function(key, val) {
                           return {
                               value: val,
                               url: key
                           }
                       });

                       $('#text-search').data("hints", hintsData);
                       var hints = $.map(data, function(key, val) {
                           return val;
                       });

                       response(hints);
                   })
                   .error(function(jqXHR) {
                       console.log(jqXHR.status);
                   })
                },
                select: function(event, ui) {
                    var data = $('#text-search').data("hints");

                    /* Find element in the array */
                    var result = $.grep(data, function(element) {
                        return element.value === ui.item.label;
                    })[0]; /* We're sure there is only 1 such element */

                    window.location = result.url;
                }
            });
        })
    </script>
{% endblock additional_scripts %}

{% block additional_content %}
    <div id="search-container">
        <select id="ingredient-selecter" class="selectpicker"
                multiple data-live-search="true"
                data-selected-text-format="count > 3"
                title="Wybierz składnik"
                style="display: inline"
        >
        </select>
        <button id="search-button" class="btn btn-default"
                style="padding-top: 6px; padding-bottom: 6px; display:inline;"
                type="button"
        >
        Wyszukaj
        </button>
        <input id="text-search" type="text" class="form-control" placeholder="Wyszukaj przepis" autocomplete="off"
               style="display: inline; width: auto; margin-left: 40px;">
    </div>
{% endblock additional_content %}

{% block element_display %}
    <a href="{% url 'recipes:recipe' element.slug %}">
        <h2 class="title">{{ element.title }}</h2>
    </a>
    <img src='{{ element.image.url }}' class="center">
{% endblock element_display %}
