{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Cooknomics - Recipes
{% endblock title %}

{% block scripts %}
    <!-- Script that gets new pages -->
    <script type="application/javascript">
        var pageNumber = {{ page.number }};
        var hasNextPage = {{ page.has_next|lower }};
        var url = '{% url 'recipes:page' %}';
    </script>
    <script type="application/javascript" src="{% static 'js/scripts.js' %}"></script>
    <script type="application/javascript" src="{% static 'recipes/js/scripts.js' %}" ></script>
{% endblock %}

{%  block app_title %}
<span class="app_title">RECIPES</span>
{% endblock app_title %}

{% block content %}
    <main>
        <ul id="recipe">
            {% for recipe in page %}
                <li><a href="{% url 'recipes:recipe' recipe.slug %}"><h2 class="title">{{ recipe.title }}</h2></a></li>
                <li><img src={{ recipe.image_url }} style="max-height:315px;width:auto;"></li>
            {% endfor %}
            <div id="recipelist-anchor"></div>
        </ul>
    </main>
{% endblock content %}

