{% extends 'base_index.html' %}


{% block element_display %}
    <hr>
    <div class="post">

        <a href="{% url 'news:article' element.slug %}">

            <h2>{{ element.title }}</h2>

        </a>

        <p>{{ element.shortened_content|safe }}</p>

        <p class="post-metadata">Posted by {{ element.author }} on {{ element.published_date }}</p>

        <a href="{% url 'news:article' element.slug %}" class="button">Read and comment</a>

    </div>


{% endblock element_display %}


{% block additional_element_display %}

{% endblock additional_element_display %}
