{% extends 'base_detail.html' %}
{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block element_display %}

    <div class="post">
        <h2 class="title"> {{ title }}</h2>
        <i class="fa fa-clock-o footnote-icon" aria-hidden="true"></i>
        <p class="post-metadata">{{ published_date }}</p>
        <i class="fa fa-user footnote-icon" aria-hidden="true"></i>
        <p class="post-metadata">{{ author }}</p>
        {{ content|safe }}
    </div>
{% endblock element_display %}
