{% extends 'base_index.html' %}

{% block element_display %}

    <div class="post">
        <a href="{% url 'news:article' element.slug %}">
            <h2>{{ element.title }}</h2>
        </a>


        <i class="fa fa-clock-o footnote-icon" aria-hidden="true"></i>
        <p class="post-metadata">{{ element.published_date }}</p>

        <i class="fa fa-comment comment-icon" aria-hidden="true"></i>
        <a href="{% url 'news:article' element.slug %}#disqus_thread" class="comment-link"></a>

        {% if display_likes %}
            <div class="like-buttons">
                <i data-name="{{ element.slug }}"
                   class="fa fa-thumbs-up fa-lg upvote-button {% if element.voting_status == 'upvoted' %}
                                                              clicked
                                                              {% endif %}" id="upbtn_{{ element.slug }}"
                                                              data-on-click-action="upvote"></i>
                <section id="upvote_count_{{ element.slug }}" class="votes-count">{{ element.up_votes }}</section>
                <i data-name="{{ element.slug }}"
                   class="fa fa-thumbs-down fa-lg downvote-button {% if element.voting_status == 'downvoted' %}
                                                                  clicked
                                                                  {% endif %}" id="dwnbtn_{{ element.slug }}"
                                                                  data-on-click-action="downvote"></i>
                <section id="downvote_count_{{ element.slug }}" class="votes-count">{{ element.down_votes }}</section>
            </div>
        {% endif %}


        <p class="short-content">{{ element.shortened_content|safe }}</p>

        <a href="{% url 'news:article' element.slug %}" class="button">Read and comment</a>

    </div>


{% endblock element_display %}

{% block additional_element_display %}

{% endblock additional_element_display %}
